* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style-type: none;
}

/* générique */
/* page */

body {
    display: grid;
}

.nav-mobile {
    display: none;
}

/* Navbar */
/* 
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
} */


/* navbar visible */

.logo-grand {
    width: 150%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 10%;
    margin-left: 10%;
}

.nav-pc {
    display: flex;
    background-color: black;
    display: grid;
    padding-bottom: 0.5%;
}

.bouton {
    display: flex;
    align-items: center;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bouton aside {
    margin-right: 10%;

}

.lien {
    font-size: 500%;
    color: #f9ba05;
}

.lien p {
    font-size: 2rem;
}

a:hover {
    text-decoration-color: #B22222;
}

/* Corpus */

.corpus {
    display: flex;
}

.carouselle-2 {
    display: none;
}

/* Carouselle */

.carousselle {
    height: 600px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 1.2%;
    margin-left: 25%;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

aside#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

.item img {
    margin-left: 10%;
    margin-top: 5%;
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #000000;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #000000;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #000000;
}

div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #000000;
}

div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #000000;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~aside#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~aside#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~aside#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~aside#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~aside#carousel {
    --position: 5;
}

/* Actu */

.actu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    color: white;
    background-color: black;
    border-radius: 5rem;
    margin-left: 25%;
    margin-right: 2.5%;

    margin-top: 2%;
    margin-bottom: 1.5%;
}

.titre {
    margin-top: 1%;
    margin-left: 2.5%
}

.titre h1 {
    font-size: 5rem;
    text-align: center;
}

.actualidades {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.actualidades p {
    font-size: 150%;
}

/* Footer */

footer {
    display: flex;
    background-color: black;
    margin-top: 0.35%;
    padding-bottom: 1%;
    padding-top: 1%;
}

footer h1 {
    color: white;
    font-size: 500%;
    margin-top: 1.5%;
    margin-left: 2.5%;
    flex: 0.04;
}

footer p {
    color: white;
    font-size: 200%;
    flex: 0.9;
    margin-top: 3%;
}

footer img {
    width: 7%
}

/* ===========================================
                    responsive
  ============================================= */



@media only screen and (max-width:1700px) {

    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }


    .corpus {
        flex-direction: column;
    }

    .carousselle {
        margin-left: -0.9%;
    }

    .actu {
        margin-right: 25%;
    }

    .titre {
        margin-top: 1%;
        margin-left: 0%
    }

    .actualidades {
        margin-top: 2.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 5%;
    }
}

/* plus petit */

@media screen and (max-width:1200px) {
    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .lien {
        font-size: 200%;
        color: #f9ba05;
    }

    .lien p {
        font-size: 1.5rem;
    }
}

/* mobile */
@media screen and (max-width:1000px) {
    .carousselle {
        display: none;
    }

    .bouton {
        display: none;
    }

    .carouselle-2 {
        display: block;
    }

    .nav-mobile {
        display: block;
    }

    .logo-grand {
        width: 75%;
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 10%;
        margin-left: 10%;
    }

    /* external css: flickity.css */

    article.carouselle-2 {
        margin-top: 10%;
        margin-bottom: 20%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    div.container {
        margin: 0 auto;
        width: 250px;
        height: 200px;
        position: relative;
        perspective: 1000px;
    }

    div.carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
    }

    div.item {
        display: block;
        position: absolute;
        background: #000;
        width: 250px;
        height: 250px;
        line-height: 200px;
        font-size: 5em;
        text-align: center;
        color: #FFF;
        opacity: 0.95;
        border-radius: 10px;
    }

    div.a {
        transform: rotateY(0deg) translateZ(250px);
        background: #000000;
    }

    div.b {
        transform: rotateY(60deg) translateZ(250px);
        background: #000000;
    }

    div.c {
        transform: rotateY(120deg) translateZ(250px);
        background: #000000;
    }

    div.d {
        transform: rotateY(180deg) translateZ(250px);
        background: #000000;
    }

    div.e {
        transform: rotateY(240deg) translateZ(250px);
        background: #000000;
    }

    div.f {
        transform: rotateY(300deg) translateZ(250px);
        background: #000000;
    }

    div.next,
    div.prev {
        color: #444;
        position: absolute;
        top: 85%;
        padding: 1em 2em;
        cursor: pointer;
        background: #CCC;
        border-radius: 5px;
        border-top: 1px solid #FFF;
        box-shadow: 0 5px 0 #999;
        transition: box-shadow 0.1s, top 0.1s;
    }

    div.next:hover,
    div.prev:hover {
        color: #000;
    }

    div.next:active,
    div.prev:active {
        top: 85%;
        box-shadow: 0 1px 0 #999;
    }

    div.next {
        right: 5em;
    }

    div.prev {
        left: 5em;
    }

    /* navbar */


    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 1;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }
}

@media screen and (max-width:1000px) {
    .actu {
        border-radius: 2rem;
    }

    .titre h1 {
        font-size: 1rem;
        text-align: center;
    }

    .actualidades p {
        font-size: 75%;
    }
}


@media screen and (max-width:850px) {

    .carouselle-2 {
        display: none;
    }

    .actu {
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 2rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .titre h1 {
        font-size: 4rem;
        text-align: center;
    }

    .actualidades p {
        font-size: 150%;
    }
}