<!-- Corpus -->

<section class="corpus">
    <!-- carousselle -->
    <article class="carousselle">
        <input type="radio" name="position" checked="">
        <input type="radio" name="position">
        <input type="radio" name="position">
        <input type="radio" name="position">
        <input type="radio" name="position">
        <aside ain="" id="carousel">

            <div class="item">
                <img src="\assets\Logos-officiels\YHWH\SVG\SVG-Petit-Logo\JV-SVG-PL-EN-YHWH.svg" alt="logo ardecho" size="100%">
            </div>


            <div class="item">
                <img src="\assets\Logos-officiels\Enyo\SVG\SVG-Petit-Logo\RV-SVG-PL-EJ-ENYO.svg" alt="logo Enyo" size="100%">
            </div>

            <div class="item">
                <img src="\assets\Logos-officiels\Héphaistos\SVG\SVG-Petit-Logo\BF-SVG-EJ-PL-HEPHAISTOS.svg" alt="logo Hephaistos" size="100%">
            </div>

            <div class="item">
                <img src="\assets\Logos-officiels\Métis\SVG\SVG-Petit-Logo\BF-SVG-PL-EJ-METIS.svg" alt="logo Métis" size="100%">
            </div>

            <div class="item">
                <img src="\assets\Logos-officiels\Hestia\SVG\SVG-Petit-Logo\JV-SVG-PL-EN-HESTIA.svg" alt="logo Hestia" size="100%">
            </div>
        </aside>
    </article>

    <article class="carouselle-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="\assets\Logos-officiels\YHWH\SVG\SVG-Petit-Logo\JV-SVG-PL-EN-YHWH.svg" class="d-block w-100" alt="logo ardecho">
                </div>
                <div class="carousel-item">
                    <img src="\assets\Logos-officiels\Enyo\SVG\SVG-Petit-Logo\RV-SVG-PL-EJ-ENYO.svg" class="d-block w-100" alt="logo Enyo">
                </div>
                <div class="carousel-item">
                    <img src="\assets\Logos-officiels\Héphaistos\SVG\SVG-Petit-Logo\BF-SVG-EJ-PL-HEPHAISTOS.svg" class="d-block w-100" alt="logo Hephaistos">
                </div>

                <div class="carousel-item">
                    <img src="\assets\Logos-officiels\Métis\SVG\SVG-Petit-Logo\BF-SVG-PL-EJ-METIS.svg" class="d-block w-100" alt="logo Métis">
                </div>
                <div class="carousel-item">
                    <img src="\assets\Logos-officiels\Hestia\SVG\SVG-Petit-Logo\JV-SVG-PL-EN-HESTIA.svg" class="d-block w-100" alt="logo Hestia">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </article>

    <!-- fin carousselle -->

    <article class="actu">
        <aside class="titre">
            <h1>
                Actualités
            </h1>
        </aside>

        <aside class="actualidades">
            <p>Le groupe YHWH-Consortium est composé, de 5 sociétés. Ces dernières ont chacune leurs domaines de
                spécialité. Le Groupe
                YHWH-Consortium est dirigé par un Conseil d’administration et une équipe dirigeante qui s’attache à
                faire évoluer le
                projet vers le marché et son positionnement. L’équipe dirigeante est en charge de la gestion
                opérationnelle et de la
                mise en place des outils nécessaires à l’atteinte des objectifs. Compte-tenu des circonstances
                actuelles. Nous vous
                garantissons que depuis notre création; Nous œuvrons dans l'autonomie de la nation française. Par
                conséquent nos
                services continus malgré la guerre en Ukraine.</p>
        </aside>
    </article>
</section>