* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style-type: none;
}

/* corpus */

.corpus {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* formulaire */


.formulaire {
    background-color: black;
    margin-top: 2.5%;
    color: white;
    margin-left: 5%;
    border-radius: 2.5rem;
    margin-bottom: 1.5%;
}

.formulaire p:hover {
    color: #f9ba05;
}

.formulaire h1 {
    text-align: center;
}

.personne {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

#haut {
    font-size: 3rem;
    margin-top: 2%;
}

.personne label p {
    font-size: 1.5rem;
}

.personne input {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

/* checkbox */

.choix {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}



/* milieu */
.milieu {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.milieu p {
    font-size: 1.5rem;
}

.objet {
    z-index: 1;
}

/* message */

.message h1 {
    display: none;
}

.message {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.text-zone {
    margin-right: 5%;
    width: 100%;
    resize: none;
}

.text-zone:hover {
    border: 3px solid #8B0000;
}

.valider {
    margin-left: 40%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.envoie {
    padding-left: 5%;
    font-size: 1.5rem;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 5%;
}

.envoie:hover {
    color: #f9ba05;
    background-color: #8B0000;
}

/* ===========================================
                    responsive
  ============================================= */

@media only screen and (max-width:1100px) {

    .personne {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #haut {
        font-size: 3rem;
        margin-top: 2%;
    }
    
    .personne label p {
        font-size: 1.5rem;
    }
    
    .personne input {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 2.5%;
        padding-top: 2.5%;
    }
    
    /* checkbox */

    .choix {
        display: flex;
        justify-content: space-between;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 2.5%;
    }

    /* Milieu */

    .milieu {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
    }

    .Document {
        margin-bottom: 2.5%;
    }

}

@media only screen and (max-width:970px) {

    .personne {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
    }

    .personne label{
        text-align: center;
        margin-right: 2.5%;
    }

    #haut {
        font-size: 2rem;
        margin-top: 2%;
    }

    .Document {
        margin-bottom: 2.5%;
    }

    .personne input {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 2.5%;
        padding-top: 2.5%;
    }

    .nom{
        margin-top: 2.5%;
        margin-left: 10%;
    }

    /* checkbox */

    .choix {
        flex-direction: column;
        justify-content: space-between;
    }

    /* Milieu */

    .milieu {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
    }

}

@media only screen and (max-width:600px) {
    .formulaire h1 {
        text-align: center;
    }

    .personne {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 5%;
    }

    #haut {
        font-size: 1rem;
        margin-top: 2%;
    }

    .personne label p {
        font-size: 1rem;
    }

    .personne input {
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0%;
        padding-top: 0%;
        width: 50%;
    }

    /* checkbox */

    .choix {
        display: flex;
        justify-content: space-between;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 2.5%;
    }

    .choix input {
        margin-left:5%;
    }
    .particulier input{
        margin-left: 12.5%;
    }
    .organisme input{
        margin-left: 11%;
    }

    /* Milieu */

    .milieu {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
    }

    .Document {
        margin-bottom: 2.5%;
    }

}