* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style-type: none;
}

/* Footer */

footer {
    display: flex;
    background-color: black;
    margin-top: 0.35%;
    padding-bottom: 1%;
    padding-top: 1%;
}

footer h1 {
    color: white;
    font-size: 500%;
    margin-top: 1.5%;
    margin-left: 2.5%;
    flex: 0.04;
}

footer p {
    color: white;
    font-size: 200%;
    flex: 0.9;
    margin-top: 3%;
}

footer img {
    width: 7.2%
}

/* ===========================================
                    responsive
  ============================================= */

@media only screen and (max-width:1100px) {
    footer img {
        width: 25%
    }

    footer h1 {
        color: white;
        font-size: 500%;
        margin-top: 1.5%;
        margin-left: 2.5%;
        flex: 0.04;
    }
}