* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style-type: none;
}

.nav-mobile {
    display: none;
}

/* Navbar pc */
.logo-grand {
    width: 150%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 10%;
    margin-left: 10%;
}

.nav-pc {
    display: flex;
    background-color: black;
    display: grid;
    padding-bottom: 0.5%;
}

.bouton {
    display: flex;
    align-items: center;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.bouton aside {
    margin-right: 10%;

}

.lien {
    font-size: 500%;
    color: #f9ba05;
}

.lien p {
    font-size: 2rem;
}

a.lien:hover {
    text-decoration-color: #B22222;
}

/* ===========================================
                    responsive
  ============================================= */



@media only screen and (max-width:1700px) {
    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

@media only screen and (max-width:1500px) {
    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

@media only screen and (max-width:1400px) {
    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

@media only screen and (max-width:1200px) {
    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

@media only screen and (max-width:1100px) {
    .logo-grand {
        width: 200%;
    }

    .bouton {
        display: flex;
        align-items: center;
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .lien p {
        font-size: 1.5rem;

    }

    .alto {
        font-size: 2rem
    }




}

@media only screen and (max-width:900px) {
    .lien p {
        font-size: 1rem;

    }

    #right {
        display: none;
    }
}

@media only screen and (max-width:800px) {
    .camino {
        display: none;
    }
}

@media only screen and (max-width:700px) {
    .lien p {
        display: none;

    }

    .nav-mobile {
        display: block;
    }

    .logo-grand {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 10%;
        margin-left: 5%;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 2.5rem;
        left: 90%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #f9ba05;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 50%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #eceff152;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #B22222;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 600px;
        text-decoration: none;
        transition-duration: .25s;
    }

    .haut{
        margin-top: 5%;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }
}