<section>
    <article class="presentation">
        <h1 class="alto">Présentation</h1>
        <p class="paragraphe">Nous sommmes un groupe de sociétés dans divers domaines.
            Chaque entreprise est à votre service est prompt pour satisfaire vos besoin</p>
    </article>

    <!-- 
            sociétés
         -->

    <!-- Ardecho -->
    <article class="societe" id="ardecho">
        <aside id="logo">
            <img src="medias\images\svg\JV-SVG-PL-EN-ARDECHO.svg" alt="logo ardecho" size="100%" class="logo">
        </aside>

        <aside id="text">

            <div class="titre">
                <a href="" class="camino">
                    <h1 class="titulo">
                        ARDECHO
                    </h1>
                </a>
            </div>


            <div class="text">
                <p class="description">
                    Ardecho est une holding, qui rachète des sociétés, <br>des actions boursières, investissement en
                    cryptomonaies. Ardecho est
                    également une maison d'édition de livres.
                </p>
            </div>
        </aside>
    </article>

    <!-- ENYO -->
    <article class="societe" id="enyo">

        <aside id="logo">
            <img src="medias\images\svg\RV-SVG-PL-EJ-ENYO.svg" alt="logo Enyo" size="100%" class="logo">
        </aside>

        <aside id="text">
            <div class="titre">
                <a href="\enyo\accueil-enyo.html" class="camino">
                    <h1 class="titulo">
                        ENYO
                    </h1>
                </a>
            </div>


            <div class="text">
                <p class="description">
                    Enyo est un groupe spécialisé dans le domaine de la défense et militaire.<br>
                    - Vente d'armement<br>
                    - Formation militaire<br>
                    - Self défense<br>
                    - Sécurité privé<br>
                    - Société militaire privé
                </p>
            </div>

        </aside>
    </article>

    <article class="societe" id="hephaistos">

        <aside id="logo">
            <img src="medias\images\svg\BF-SVG-PL-EJ-HEPHAISTOS.svg" alt="logo Hephaistos" size="100%" class="logo">
        </aside>

        <aside id="text">
            <div class="titre">
                <a href="" class="camino">
                    <h1 class="titulo">
                        HEPHAÏSTOS
                    </h1>
                </a>
            </div>


            <div class="text">
                <p class="description">
                    HEPHAÏSTOS est une entreprise dans la conception et la fabrication de produit industriel. Pour les
                    professionnel autant
                    que pour les particuliers. Capacité de production élevé et domaine varié.
                </p>
            </div>
        </aside>
    </article>

    <article class="societe" id="metis">

        <aside id="logo">
            <img src="medias\images\svg\BF-SVG-PL-EJ-METIS.svg" alt="logo Métis" size="100%" class="logo">
        </aside>

        <aside id="text">
            <div class="titre">
                <a href="" class="camino">
                    <h1 class="titulo">
                        MÉTIS
                    </h1>
                </a>
            </div>


            <div class="text">
                <p class="description">
                    Spécialisé dans l'immobilier, la location l'achat revente et la fabrication de logement. Vente de
                    produits dans le
                    domaine domestique. Vente de parabole solaire et de composant d'aide à l'autonimie energétique.
                </p>
            </div>
        </aside>
    </article>

    <article class="societe" id="hestia">

        <aside id="logo">
            <img src="medias\images\svg\JV-SVG-PL-EN-HESTIA.svg" alt="logo Hestia" size="100%" class="logo">
        </aside>

        <aside id="text">
            <div class="titre">
                <a href="" class="camino">
                    <h1 class="titulo">
                        HESTIA
                    </h1>
                </a>
            </div>

            <div class="text">
                <p class="description">
                    Métis est une entreprise spécialisé dans l'informatique. Principalement dans la conception et la
                    réalisation de
                    programme surmesure. <br>
                    - Création de site web<br>
                    - Création d'intéligence artificiel<br>
                    - Conception de programme d'informatique embarqué<br>
                    - Services en ligne
                </p>
            </div>
        </aside>
    </article>
</section>

