<main>
    <article class="gauche">
        <div class="titulo-1">
            <h1 id="titre">Se connecter</h1>        
        </div>
        <form action="" id="formulaire" >
            <input type="text" placeholder="Nom d'utilisateur" required="true" class="nom" id="entres">

            <input type="password" placeholder="mot de passe" required="true" class="password" id="entres">
        </form>
        <button class="bouton" id="b-izquerda">Confirmer</button>
    </article>
    <!-- créer un compte -->
    <article class="droite">
        <div class="titulo-2">
            <h1 id="titre">Créer un compte</h1>        
        </div>
        <form action="" id="formulaire" class="f-droite">
            <!-- haut -->
            <div>
                <input type="text" placeholder="Nom" required="true"  class="nom" id="entres">
        
                <input type="text" placeholder="Prénom" required="true" id="entres">
            </div>
             <!-- milieu -->
            <div>
                <input type="text" placeholder="Nom d'utilisateur" required="true" id="entres">
        
                <input type="mail" placeholder="adresse mail" required="true" id="entres">
            </div>
            <!-- mot de passe -->
            <div>
                <input type="password" placeholder="mot de passe" required="true" class="password" id="entres">

                <input type="password" placeholder="validation mot de passe" required="true" class="password " id="entres">
            </div>
        
        </form>
        <button class="bouton" id="b-derecha">Confirmer</button>
    </article>
</main>
